/* =============================
    Normalize.css
===============================*/

@import 'normalize.css';


/* =============================
    body, content-wraper
===============================*/


body {
	margin:50px 0px; padding:0px;
	text-align:center;
}

#content {
	width:70%;
	margin:0px auto;
	text-align:left;
	padding:15px;
	border:1px dashed #333;
/*	background-color:#eee;*/
}





/* =============================
    general layout styles
===============================*/

.grid, .col_25, .col_33, .col_50, .col_66, col_85, .col_100, 
.grid:after, .col_25:after, .col_33:after, .col_50:after, .col_66:after, col_85:after, .col_100:after,
.grid:before, .col_25:before, .col_33:before, .col_50:before, .col_66:before, col_85:before, .col_100:before
/* *, *:after, *:before*/
{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.grid{
    background: white;
    margin: 0 0 20px 0;
}

.grid:after {
  content: "";
  display: table;
  clear: both;
}

.grid-pad {
    padding: 20px 0 20px 20px;
}

.grid-pad > [class*='col_']:last-of-type {
  padding-right: 20px;
}

[class*='col_'] {
    float: left;
    margin: 5px 0;
    padding-right: 20px;
}

[class*='col_']:last-of-type {
/*    padding-right: 20px;*/
    float: right;
}

.col_25{width: 25%;}
.col_33{width: 33.33%;}
.col_50{width: 50%;}
.col_66{width: 66.66%;}
.col_85{width: 85%;}
.col_100{width: 100%;}

.w100{width: 100%;}

.whitespace_sm{
    margin: 10px 0;
}


/*base tablet to small desktop styles*/
@media (max-width: 800px) {
    
  .col_85 {
    width: 100%;
  }
 
    .col_25,
    .col_33,
    .col_66{
    width: 50%;
  }
}


@media (max-width: 480px) {
    .col_25,
    .col_33,
    .col_50,
    .col_66,
    .col_85 {
        width: 100%;
    }
}



.f_btn{
    margin: 0 2px 0 0;
    padding: 8px 10px;
    font-size: 0.8em;
}

.f_btn_round{
    border-radius: 100px;
    margin: 0 2px 0 0;
    padding: 4px 6px;
    font-size: 0.8em;
    color: inherit;
    background-color:#eee;
}


[class*='f_btn']:last-of-type {
    margin-right: 0;
    float: right;
}

[class*='f_btn']:only-child {
    float: left;
}

.alright{
    text-align: right;
}

.textbox{
    background-color: #eee;
/*    margin: 20px 0;*/
    padding: 20px 15px;
    border: 1px solid #ccc;
/*
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
*/
    
}

.gentext{
    color: #aaa;
    font-style: italic;
}

.survey{
    font-size: 0.8em;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #bbb;
}
td,th {
    border-top: 1px solid #ddd;
    padding: 4px 8px;
}

tbody tr:nth-child(even)  td { background-color: #eee; }

@media screen and (max-width: 640px) {
	table {
		overflow-x: auto;
		display: block;
	}
}
